<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (people.length > 0) { %>
      <% people.forEach(person => { %>
        <a class="single" href="/people/<%= person._id %>">
          <h3 class="title"><%= person.name %></h3>
          <p class="snippet"><%= person.age %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no people to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>